1. 업무흐름

    - 기계 학습: 데이터 다운로드 -> 전처리(특수문자, 불용어, 영문, 숫자) -> word embedding -> 학습 -> 검증 -> 테스트

        --> 딥러닝(지도학습)을 위한 학습데이터 생성을 위한 단계

        --> 기계학습을 통해 나온 결과물을 사람이 검증해서 학습데이터를 생성.

    - 딥러닝: 학습 데이터 다운로드 -> 전처리 -> word embedding -> 학습 -> 검증 -> 테스트 -> 모델 배포

        --> 키워드 추출을 위한 모델

        --> 토픽(카테고라이징) 분류를 위한 모델

2. 요구사항

    - 제공 데이터: 
        
        --> 상담전화 콜단위 화자가 분리되지 않은 상담내역 텍스트 STT 파일
        
        --> 화자가 분리된 텍스트(녹음된 상담내역을 텍스트로 변환한) STT 파일: 일간 1,000 여개 제공
                  
    - 고객상담음성 STT 분석 요구

        --> STT 분류(토픽 정보를 활용한 Classify)

            == 각각의 Call 파일을 내용에 따라서 토픽 정보 추출(Level1 - Level2 - Level3)
            == 토픽 정보에 따른 STT 분류 수행
            == 분류항목은 동적으로 처리: 현재 SKT 업무/상품 내역에 따라 약5천 가지로 분류 중
            == ex) Level1: 요금납부방법, Level2: 입금전용계좌입금, Level3: 계좌문의/SMS발송
            
            == 대분류 >> 중/소분류

        --> STT 키워드, 토픽 추출(키워드 태킹)

            == 해당 Call 에 대한 키워드, 토픽 추출
            == 추출된 키워드 및 토픽에 대한 점수 표시
            == 추출된 키워드 및 토픽은 고객의 요구사항을 통찰(Insight) 하기 위한 기초 데이터로 활용
        
        --> 고객요구사항 추출

            == 주어진 데이터 중 고객 음성 STT 파일을 분석해서 고객의 요구사항을 추출
            == STT 분류정보와 추출된 키워드 및 토픽 정보를 분석해 상담내역상의 고객의 요구사항을 추론(?)
  
        --> STT 분석을 통해 마이너한(Call 내용 중 잘 표현되지 않는 / 숨겨진) 고객 요구사항을 통찰(Insight)

            == 고객상담 Call 에서 내용 상(단위 Call 에서는) 잘 보이지 않는 요구사항/관심사항/숨겨진 정보 등을 통찰(Insight)
